/*contact*/
$base-color: black;
$border-color: darkgray;

/*base*/
$border-color: darkgray;
$background-color: white;
$font-family: serif;
$font-style: oblique; /*summer*/
$border-bottom: gray;

/*spring*/
$spring-color: pink;

/*summer*/
$middle-summer: darkorange;

/*okiga*/
